<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MDL2B6V"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header id="header">
	<h1 id="logo"><a href="/"><img class="logo" src="images/logoHead.ico" /></a></h1>
	<nav id="nav">
		<ul>
			<li><a href="/about">About</a></li>
			<li><a href="ctfs">CTFs</a></li>
			<li><a href="worklife">Career</a></li>
			<li><a href="skills">Skills</a></li>
			<li><a href="certsandawards">Certs & Awards</a></li>
			<li>
				<a href="projects">Projects</a>
				<ul>
					<li><a href="projects">Coming soon!</a></li>
					<li>
						<a href="projects#uni">University Projects</a>
						<ul>
							<li><a href="projects#TheCU3HBl0g">The CU3H Bl0g</a></li>
							<li><a href="projects#ocLEAP">ocLEAP</a></li>
							<li><a href="projects#Brute">Brute Osso Good</a></li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</header>