---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

    {% if page.dir == '/about/' %}
        {% include about_head.html %}
    {% elsif page.title != 'index' %}
        {% include head.html %}
    {% else %}
        {% include index_head.html %}
    {% endif %}

<body id="page-top" class="landing-page" style="background-color: #1c1d26;">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MDL2B6V"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% if page.dir == '/about/' %}
        {% include about_header.html %}
    {% elsif page.title != 'index' %}
        {% include blog_header.html %}
    {% endif %}

    {{ content }}

    {% if page.dir == '/about/' %}
        {% include about_footer.html%}
    {% elsif page.title != 'index' %}
        {% include foot.html %}
    {% else %}
        {% include index_foot.html %}
    {% endif %}

</body>
</html>
